.header {
  min-height: 80svh;
  background: linear-gradient(rgba(178, 33, 46, 1), rgba(252, 252, 252, 0.5)),
    url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header_section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: var(--fadein);
}
.title {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.title h3 {
  font-size: var(--font-size-text);
  text-align: center;
  color: var(--white);
}
.header_section h1 {
  text-align: center;
  color: var(--white);
  font-weight: 700;
  font-size: var(--font-size-subhead);
}
.button_box {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.services {
  min-height: 75svh;
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.services h2 {
  font-size: var(--font-size-subhead);
  color: var(--color-main);
}
.servicebox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
}

.faq {
  background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(22, 22, 22, 1)),
    url("https://images.pexels.com/photos/2747901/pexels-photo-2747901.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--padding-main);
  padding-block: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}
.faq h2 {
  font-size: var(--font-size-subhead);
  color: var(--white);
}
.question_box {
  width: 80%;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: var(--color-secondary);
  transition: var(--transition-normal);
}
.answer:hover {
  background-color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}

.answer:hover big,
.answer:hover small {
  color: var(--color-main);
  transition: var(--transition-normal);
}

.answer big {
  color: var(--white);
  font-weight: 700;
}
.answer small {
  color: var(--white);
  line-height: 2;
}

.quote_form {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.quote_form .info_section {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(33, 73, 178, 0.95), rgba(33, 73, 178, 0.75)),
    url("/images/info-form.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.info_section h3 {
  text-align: center;
  color: var(--white);
  font-size: var(--font-size-subhead);
}
.info_section p {
  text-align: center;
  color: var(--white);
  width: 100%;
}
.info_section .image_box {
  margin-block: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info_section .image_box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.quote_form .form_box {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 2.5rem 0rem;
}
.form_box form {
  width: 80%;
  min-height: 80%;
}
.form_box h2 {
  font-size: var(--font-size-subhead);
  color: var(--color-secondary);
  text-align: center;
}

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */

  .quote_form {
    grid-template-columns: 1fr;
  }
  .question_box {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .info_section .image_box img {
    width: 250px;
    height: 250px;
  }
  .form_box {
    min-height: 70svh;
  }
}

@media (max-width: 900px) {
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */

  .title h3 {
    display: none;
  }

  .button_box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
}
