* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: inherit;
}

/* CSS Root Variables Template */

:root {
  /* Shade Variables */
  --white: #fcfcfc;
  --black: #212121;
  --grey-light: #999999;
  --grey-dark: #555555;

  /* Color Variables */
  --color-main: #b2212e;
  --color-secondary: #2148b2;
  --color-tertiary: ;
  --color-accent: ;
  --color-neutral: ;

  /* Border Radii */
  --border-rad: 5.5px;

  /* Padding */
  --padding-main: 1.5rem;
  --padding-navigation: 0.75rem 1.5rem;
  --padding-main-mobile: 1rem;

  /* Button Padding */
  --button-padding: 0.75rem 1.75rem;
  --button-padding-mobile: 0.5rem 0.75rem;

  /* Font Families */
  /* --body-style: ; */

  /* Font Sizing */
  --font-size-heading: 7rem;

  --font-size-heading-max: calc(var(--font-size-heading) * 1.5);

  --font-size-head: calc(var(--font-size-heading) * 0.85);

  --font-size-subtitle: calc(var(--font-size-heading) * 0.66);

  --font-size-subhead: calc(var(--font-size-heading) * 0.43);

  --font-size-sub: calc(var(--font-size-heading) * 0.3);

  --font-size-text: 1rem;

  --font-size-small: 0.85rem;

  /* Transition and Effects */
  --transition-normal: 0.4s ease-in-out;

  --box-shadow-light: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-heavy: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

  /* Animations */
  --slidedown: slidedown 2s ease forwards;
  --fadein: fadein 2s ease-in-out forwards;
  --menu-animate: menuanimate 1s ease-in-out forwards;
}

/* Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  scroll-behavior: smooth;
}

* h1 {
  font-size: var(--font-size-heading);
  font-weight: 600;
}

* p {
  font-size: var(--font-size-text);
  font-weight: 300;
}

/* Component and Utility Styles */

body {
  background-color: var(--white);
}
.section {
  padding: var(--padding-main);
}

.button-main {
  border: none;
  cursor: pointer;
  padding: var(--button-padding);
  font-size: var(--font-size-text);
  color: var(--white);
  background-color: var(--color-secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: var(--transition-normal);
  border-radius: var(--border-rad);
}
.button-main:hover {
  transition: var(--transition-normal);
  background-color: var(--white);
  color: var(--color-main);
  cursor: pointer;
  border: solid 0.5px var(--grey-light);
}

.button-white {
  min-width: 200px;
  font-weight: 600;
  padding: var(--button-padding);
  font-size: var(--font-size-text);
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-normal);
  border-radius: var(--border-rad);
}
.button-white:hover {
  transition: var(--transition-normal);
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.button-black {
  min-width: 200px;
  font-weight: 600;
  padding: var(--button-padding);
  font-size: var(--font-size-text);
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-normal);
  border-radius: var(--border-rad);
}
.button-black:hover {
  transition: var(--transition-normal);
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

.form {
  min-width: 500px;
  min-height: 500px;
  box-shadow: var(--box-shadow-heavy);
  padding: var(--padding-main);
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 1.5rem;
}
.inputbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputbox input {
  border: none;
  background-color: transparent;
  border-bottom: solid 1px var(--grey-light);
  outline: none;
  color: var(--grey-dark);
  padding: 0.25rem 0;
}
.inputbox select {
  border: none;
  background-color: transparent;
  border-bottom: solid 1px var(--grey-light);
  color: var(--grey-dark);
  padding: 0.25rem 0;
  outline: none;
}
.inputbox label {
  font-size: var(--font-size-small);
  color: var(--black);
}
.inputbox textarea {
  height: 100px;
  resize: none;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.25rem 0;
  border-bottom: solid 1px var(--grey-light);
  color: var(--grey-dark);
}

/* Animations */
@keyframes slidedown {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuanimate {
  from {
    opacity: 0;
    bottom: -100%;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

/* Page Transitions */

/* Media Queries for Responsive Adjustments */

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */

  :root {
    --font-size-heading: 4.5rem;
    --padding-main: 1rem;
    --padding-navigation: 0.5rem;
  }

  .form {
    min-width: none;
    grid-template-columns: 1fr;
    display: grid;
    gap: 1rem;
  }
  .inputbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 900px) {
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */

  :root {
    --font-size-heading: 3.75rem;
    --padding-navigation: 0;
    --button-padding: 0.5rem 0.75rem;
  }
}

/*Virtue tags */
