.header {
  min-height: 60svh;
  background: linear-gradient(rgba(33, 72, 178, 0.75), rgba(33, 72, 178, 0.15)),
    url("https://images.pexels.com/photos/5539540/pexels-photo-5539540.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header h1 {
  color: var(--white);
  font-weight: 700;
}
.header h6 {
  color: var(--white);
  font-size: var(--font-size-sub);
  font-weight: 500;
}

.bio {
  min-height: 75svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bio .info {
  width: 100%;
  height: 100%;
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info h2 {
  font-size: var(--font-size-subhead);
  text-align: center;
  color: var(--black);
}
.info p {
  color: var(--grey-dark);
  text-align: center;
  line-height: 1.75;
  width: 80%;
}
.bio .image {
  background-color: var(--color-secondary);
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features {
  padding: var(--padding-main);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.card {
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  gap: 0.75rem;
  border-radius: var(--border-rad);
}
.card p {
  font-weight: 400;
  text-align: center;
  color: var(--white);
}
.card svg {
  color: var(--white);
  width: 25px;
  height: 25px;
}

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */

  .bio {
    grid-template-columns: 1fr;
  }
  .features{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
}
