.info_section {
  width: 100%;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.info_section small {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 600;
  color: var(--color-main);
  font-size: var(--font-size-small);
  text-decoration: underline;
}
.info_section small svg {
  width: 12px;
  height: 12px;
}

.navbar {
  background-color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-navigation);
}

.navbar img {
  width: 35px;
  height: 35px;
}
.navbar .main_menu {
  min-width: 50%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.navbar .main_menu li a {
  text-decoration: none;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: var(--transition-normal);
  font-weight: 300;
}
.navbar .main_menu li a:hover {
  text-decoration: underline;
  transition: var(--transition-normal);
}

.mobile_button {
  background-color: transparent;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: solid 1px var(--white);
  color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}
.mobile_button:hover {
  border: none;
  color: var(--color-main);
  background-color: var(--white);
  transition: var(--transition-normal);
}

.mobile_menu_button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  background-color: var(--color-main);
  color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}
.mobile_menu_button:hover {
  border: none;
  color: var(--color-main);
  background-color: var(--white);
  transition: var(--transition-normal);
}

.mobile_menu_open {
  width: 300px;
  background-color: var(--black);
  height: 100svh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 1rem;
  transition: var(--transition-normal);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
}
.mobile_menu_closed {
  width: 300px;
  background-color: var(--black);
  height: 100svh;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 999;
  padding: 1rem;
  transition: var(--transition-normal);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
}

.mobile_options {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.mobile_menu_open li {
  align-self: flex-end;
}
.mobile_options li a {
  text-decoration: none;
  color: var(--white);
  text-align: right;
  padding-block: 0.75rem;
  padding-left: 1rem;
}

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .navbar {
    padding: 0.5rem 1.5rem;
  }

  .navbar .main_menu {
    display: none;
  }

  .mobile_button {
    display: flex;
  }

  .get_quote {
    display: none;
  }
}

@media (max-width: 900px) {
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
}
